/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.prod
.env.backup
.idea
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
supervisord.log
supervisord.pid
.env.testing
app/Http/Controllers/API/Secret.php
_ide_helper.php
config/ide-helper.php
.phpstorm.meta.php
.DS_Store
